{% extends '@App/Main/header.html.twig' %}

{% block title %}Список заявок с сайта{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Список заявок с сайта</h1>

            <form action="{{ path('app_hospital_findapplications') }}" method="post" class="form-inline">
                <div class="form-group">
                    <label for="findApplication">Выберите дату подачи заявки
                        <input id="findApplication" type="date" name="findDateApplication" required class="form-control">
                    </label>
                    <input type="submit" value="Поиск" class="btn btn-success">
                </div>
            </form>

            <table class="table table-bordered table-hover">
                {% set date_sort = null %}
                {% for application in pagination %}
                    {% if application.examined == true %}
                        {% if application.date|date('Y-m-d')  != date_sort %}
                            {% set date_sort = application.date|date('Y-m-d') %}
                            <td class="date_group" colspan="2">{{ date_sort }}</td>
                        {% endif %}
                        <tr class="text-muted clickable-row" title="{{ application.name }}" data-href="{{ path('app_hospital_detailapplications', {application_id: application.id}) }}">
                            <td>{{ application.name }}</td>
                            <td>{{ application.date|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    {% else %}
                        {% if application.date|date('Y-m-d')  != date_sort %}
                            {% set date_sort = application.date|date('Y-m-d') %}
                            <td class="date_group" colspan="2">{{ date_sort }}</td>
                        {% endif %}
                        <tr style="font-weight: bold" class="clickable-row" title="{{ application.name }}" data-href="{{ path('app_hospital_detailapplications', {application_id: application.id}) }}">
                            <td>{{ application.name }}</td>
                            <td>{{ application.date|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock content %}