{% extends '@App/Main/header.html.twig' %}
{% form_theme form_popup 'bootstrap_3_layout.html.twig' %}

{% block title %}Список пациентов{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{{ path('app_hospital_applications') }}">Вернуться к списку заявок</a>
            <h2>Письмо от {{ application.name }}</h2>
            <h5 class="text-muted"><b>Дата </b>{{ application.date|date }}</h5>
            <b>Текст сообщения </b>
            <div>{{ application.description }}</div>

            <h4>Данные об отправитиле</h4>
            <b>Телефон: </b> {{ application.phone }}
            <b>Email: </b> {{ application.email }}<br><br>

            {% if application_response != null %}
                <div class="response">
                    <h3>Ответ на заявку</h3>
                    <p><b>Ответил:</b> {{ application_response.user }}</p>
                    <p><b>Дата:</b> {{ application_response.date|date('d-m-Y') }}</p>
                    <p><b>Ответ:</b> {{ application_response.message }}</p>
                </div>
            {% endif %}

            <button type="button" id="application" class="btn btn-primary doctor_priem" data-toggle="modal" data-target="#myModal">
                {% trans %}Отправить сообщение{% endtrans %}
            </button>
            <div class="modal fade main_page" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close main_page" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Отправить сообщение</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form_popup, {'action': path('app_main_saveemail', {application_id: application.id}), 'method': 'POST', 'attr': {'id': 'email_form'}}) }}
                            {{ form_widget(form_popup) }}

                            <input type="hidden" name="email" value="{{ application.email }}">
                            <div id="success" class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                Ваше сообщение успешно отправлено
                            </div>
                            <div id="fail" class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                Возникла ошибка. Попробуйте отправить сообщение снова
                            </div>
                            <input id="send_message" type="submit" value="Отправить" class="btn btn-primary doctor_priem">
                            {{ form_end(form_popup) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#email_form').submit(function(e){
            e.preventDefault();
            var m_data=$(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/save_email/'+{{ application.id }},
                data: m_data,
                success: function(){
                    $('#email_form').trigger( 'reset' );
                    $('#success').show(300);
                },
                error: function () {
                    $('#fail').show(300);
                }
            });
        });
    </script>
{% endblock content %}