{% extends '@App/Main/header.html.twig' %}

{% block title %}Список пациентов{% endblock %}

{% block content %}
    <div class="container">
        <h1>Список пациентов</h1>
        <a class="add_button btn btn-primary" href="{{ path('app_hospital_addpatient') }}">
            Добавить пациента
        </a>

        <form action="{{ path('app_hospital_findpatient') }}" method="post" class="form-inline">
            <div class="form-group">
                <label for="findSurname">Введите фамилию или ИНН пациента:
                    <input id="findSurname" type="text" name="data" class="form-control">
                </label>
                <input type="submit" value="Поиск" class="btn btn-success">
            </div>
        </form>

        <table class="table table-bordered" id="patients">
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>ИНН</th>
                <th>Дата рождения</th>
                <th>Лечащий врач</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Изменить</th>
                {% endif %}
            </tr>
            {% for patient in patients %}
                <tr>
                    <td>
                        <a id="{{ patient.inn }}" href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.surname }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.patronymic }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.inn }}</a>
                    </td>
                    <td>
                        <a href="{{ path('app_hospital_patientprofile', {id: patient.id}) }}">{{ patient.birthdate|date('Y-m-d') }}</a>
                    </td>
                    {% if patient.doctor != null %}
                        <td>
                            <a href="{{ path('app_main_doctorprofile', {id: patient.doctor.id}) }}">{{ patient.doctor }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a id="edit{{ patient.surname }}" href="{{ path('patient_edit', { 'id': patient.id }) }}">Изменить</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}