{% extends '@App/Main/header.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block title %}Пациент{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="patient_name">Пациент: {{ patient.name ~ ' ' ~ patient.surname }}</h2>
            <div class="col-lg-6">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <div class="form-group">
                    <button type="submit" class="btn-success btn">Изменить</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock content %}

