{% extends '@App/Main/header.html.twig' %}

{% block title %}
    Пациент
{% endblock %}

{% block content %}
    <div class="container">
        {% for patient_data in patient %}
            <h3>Найден пациент:</h3>
            <p><b>Фамилия:</b> {{ patient_data.surname }}</p>
            <p><b>Имя:</b> {{ patient_data.name }}</p>
            {% if patient_data.patronymic != null %}
                <p><b>Отчество:</b> {{ patient_data.patronymic }}</p>
            {% endif %}
            <p><b>ИНН:</b> {{ patient_data.inn }}</p>
            <p><b>Дата рождения:</b> {{ patient_data.birthdate|date('Y-m-d H:i:s') }} </p>
            {% if patient_data.doctor != null %}
                <p><b>Лечащий врач:</b> {{ patient_data.doctor }} </p>
            {% endif %}
        {% else %}
                <h3>Пациент с данными "{{ data }}" не найден.</h3>
        {% endfor %}
    </div>
{% endblock %}

