{% extends '@App/Main/header.html.twig' %}

{% block title %}{{ doctor.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-12">
            <h2 class="profile_name">{{ doctor.name }}</h2><hr class="profile_hr">
        </div>
        <div class="photo_doctor col-lg-4">
            <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}"
                 alt="{{ doctor.imageFile }}" class="img-responsive">
        </div>
        <div class="col-lg-8">
            <p class="profile_position">{{ doctor.position }}</p>
            <h4 class="profile_caption">Информация о враче:</h4>
            <p>{{ doctor.biography }}</p><hr class="profile_hr">
            <h4 class="profile_caption">Расписание работы</h4>
            <p>Расписание появится после обсуждения дополнительной информации о том как это должно быть реализовано</p>
            <p>Также тут появится какая-то дополнительная информация после предоставления ее заказчиком</p>
        </div>
    </div>
{% endblock content %}