<footer id="footer">
    <div class="container">
        <div class="col-lg-4 col-md-4">
            <span class="copyright">&#169; {% trans %}Центр лучевой терапии{% endtrans %} 2017</span>
        </div>
        <div class="col-lg-4 col-md-4 footer_p">
                {% for phone in widget_phone.getPhones() %}
                    <i class="glyphicon glyphicon glyphicon-earphone"></i><span class="phone_span">{{ phone.content|raw }}</span>
                {% endfor %}

        </div>
        <div class="col-lg-4 col-md-4 text-right">
            <div class="copyright">
                <a href="#" class="footer_link"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a>
                <a href="#" class="footer_link"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a>
                <a href="#" class="footer_link"><i class="fa fa-vk vk_ru" aria-hidden="true"></i></a>
                <a href="#" class="footer_link"><i class="fa fa-odnoklassniki ok_ru" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
