{% extends '@App/Main/header.html.twig' %}

{% block title %}{% trans %}Центр лучевой терапии{% endtrans %} - {% trans %}Отцы основатели{% endtrans %}{% endblock %}

{% block content %}
    <div class="container">
    <div id="container"></div>

    <script type="text/javascript">
        $.ajax({
            type: 'GET',
            url: '/investor/json',
            success: function (data) {
                var total = {
                    name: 'Требуемая общая сумма',
                    y: 2000000,
                    sliced: true,
                    selected: true
                };
                data.push(total);
                Highcharts.chart('container', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    title: {
                        text: 'Инвесторы центра лучевой терапии'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}$</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}'
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Вклады',
                        data: data
                    }]
                });
            }
        });
    </script>

        {% set number = 0 %}
        <table class="table table-bordered" id="patients">
            <tr>
                <th>№</th>
                <th>{% trans %}Инвесторы{% endtrans %}</th>
                <th>{% trans %}Вклады{% endtrans %}</th>
                <th>{% trans %}Описание{% endtrans %}</th>
            </tr>
            {% for investor in investors %}
                {% set number = number + 1 %}
                <tr>
                    <td>
                        {{ number }}
                    </td>
                    <td>
                        {{ investor.name }}
                    </td>
                    <td>
                        {{ investor.contribution }}$
                    </td>
                    <td>
                        {{ investor.description }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

