{% extends "@App/Main/header.html.twig" %}

{% block title %}Центр лучевой терапии{% endblock %}

{% block content %}
    {#<div class="jumbotron">#}
    {#<div class="container">#}
    {#<h1>{% trans %}Добро пожаловать на страницу инвестора{% endtrans %} (investor page)</h1>#}
    {#{% for investor in investors %}#}
    {#<hr>#}
    {#<span>{{ investor.name }}</span><br>#}
    {#<span>{{ investor.contribution }}</span><br>#}
    {#<span>{{ investor.cash }}</span><br>#}
    {#<span>{{ investor.description }}</span><br>#}
    {#{% endfor %}#}
    {#</div>#}
    {#</div>#}

    <div id="overview-wrap">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12">
                    <h1>{% trans %}Реальная и долгожданная надежда для онкологических больных.{% endtrans %}</h1>
                    <p>Исторически важный вклад социально ответственных предпринимателей.<br>
                        <span>Первый социальный бизнес в наследие Кыргызстану.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="aims-wrap">
        <div class="container">
            <div class="row text-center">
                <h2>Цель проекта</h2><br>
                <p class="aims">
                    Предоставить онкобольным в КР современное оборудование для лучевой терапии
                    (Линейный ускоритель TrueBeam™ Radiotherapy System и Компьютерный Томограф Siemens).
                </p>
                <div class="aim_items col-lg-3 col-md-3 text-center">
                    <p>Будет построен новый медицинский центр в г.Бишкек общей площадью ~ 900кв.м.</p>
                </div>
                <div class="aim_items col-lg-3 col-md-3 text-center">
                    <p>Услуги лучевой терапии будут предоставляться по доступным, социально ориентированным ценам, а
                        определенная категория пациентов будет получать льготное и даже бесплатное лечение.
                    </p>
                </div>
                <div class="aim_items col-lg-3 col-md-3 text-center">
                    <p>
                        Некоммерческая организация ОФ «Апаке» является 100% учредителем Центра Лучевой Терапии
                    </p>
                </div>
                <div class="aim_items col-lg-3 col-md-3 text-center">
                    <p>После возврата кредита (5 лет), получаемая прибыль будет направляться на модернизацию
                        и расширение Центра.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="obzor-wrap">
        <div class="container">
            <div class="row text-center">
                <h2>Обзор проекта</h2>
                <div class="obzor-item col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">
                    <img src="../images/p01.png" alt="">
                    <p>12 месяцев</p>
                </div>
                <div class="obzor-item col-lg-2 col-md-2">
                    <img src="../images/p01.png" alt="">
                    <p>$ 10,340,000</p>
                </div>
                <div class="obzor-item col-lg-2 col-md-2">
                    <img src="../images/p01.png" alt="">
                    <p>1,560 <br><span>(при работе в две смены)</span></p>
                </div>
                <div class="obzor-item col-lg-2 col-md-2">
                    <img src="../images/p01.png" alt="">
                    <p>$ 109</p>
                </div>
                <div class="obzor-item col-lg-2 col-md-2">
                    <img src="../images/p01.png" alt="">
                    <p>5 лет</p>
                </div>
            </div>
        </div>
    </div>
    <div id="analys-wrap">
        <div class="container">
            <div class="row text-center">
                <h2>Анализ рынка</h2>
                <h3>Спрос на лечение (по данным Минздрава КР):</h3><br>
                <div class="analys-items1 col-lg-4 col-md-4">
                    <p>Ежегодно выявляется 5 тысяч новых онкобольных.</p>
                </div>
                <div class="analys-items2 col-lg-4 col-md-4">
                    <p>Злокачественные новообразования являются второй по значимости
                        причиной смертности после сердечно-сосудистых заболеваний.</p>
                </div>
                <div class="analys-items1 col-lg-4 col-md-4">
                    <p>В 2015 году на учете у онкологов состояло более 25 000 человек.</p>
                </div>
                <div class="analys-items2 col-lg-4 col-md-4">
                    <p>Более половины больных погибают, не прожив и одного года из-за поздней
                        диагностики и отсутсвия современного лечебного оборудования.</p>
                </div>
                <div class="analys-items1 col-lg-4 col-md-4">
                    <p>Средний возраст онкобольных среди взрослых — 35 лет.</p>
                </div>
                <div class="analys-items2 col-lg-4 col-md-4">
                    <p>Ежегодно растет количество детей с онкологическими заболеваниями.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="equip-wrap">
        <div class="container">
            <div class="row text-center">
                <h2>Описание и характеристика оборудования</h2>
                <h3>Спрос на лечение (по данным Минздрава КР):</h3>
                <div class="equip-img col-lg-12 col-md-12">
                    <img src="../images/equip01.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="equip_list">
                        <li class="text-left"><i class="glyphicon glyphicon-chevron-right"></i>
                            TrueBeam обеспечивает эффективное лечение раковых заболеваний</li>
                        <li class="text-left"><i class="glyphicon glyphicon-chevron-right"></i>
                            Система предназначена для облучения опухоли с учетом движения тела, с
                            высокой скоростью и точностью.</li>
                        <li class="text-left"><i class="glyphicon glyphicon-chevron-right"></i>
                            TrueBeam лечит рак в любой части тела, включая легкие, молочные железы,
                            предстательную железу, голову и шею.</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="equip_list">
                        <li class="text-left"><i class="glyphicon glyphicon-chevron-right"></i>
                            Возможность не только быстро лечить, но и обеспечивать высокие, точные
                            дозы облучения - является отличительной чертой системы TrueBeam system.</li>
                        <li class="text-left"><i class="glyphicon glyphicon-chevron-right"></i>
                            Система постоянно контролирует движение опухоли, и помогает клиницистам
                            доставлять радиацию только в то место, где находится опухоль.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="invest-wrap">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Инвестиционный план</h2>
                <p>
                    Основываясь на консервативных расчетах стоимость 1 кв.м. составит 500 долларов США.
                    Предварительно стоимость расходов на строительство составит 400 000 долларов США и
                    50 000 долларов США на непредвиденные расходы. Данный бюджет позволит построить
                    медицинский центр общей площадью до 900 кв.м. <br>
                    <span>Оборудование</span>
                </p>
                <table class="table table-bordered-blue">
                    <thead>
                    <tr>
                        <th class="bg-blue">Основное и вспомогательное оборудование:</th>
                        <th class="bg-blue">Цена (долл. США)</th>
                        <th class="bg-blue">Кол-во</th>
                        <th class="bg-blue">Общ. ст-ть (долл. США)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul class="table_list">
                                <li>Varian TrueBeam Stx</li>
                                <li>Периферийное оборудование</li>
                                <li>Система охлаждения для ускорителя</li>
                                <li>Стабилизатор напряжения</li>
                            </ul>
                        </td>
                        <td>3 650 000</td>
                        <td>2</td>
                        <td>7 300 000</td>
                    </tr>
                    <tr>
                        <td>Комплект дозиметрического оборудования</td>
                        <td>300 000</td>
                        <td>2</td>
                        <td>600 000</td>
                    </tr>
                    <tr>
                        <td>Фиксирующие устройства для иммобилизации пациента</td>
                        <td>50 000</td>
                        <td>6</td>
                        <td>300 000</td>
                    </tr>
                    <tr>
                        <td>Компьютерный томограф для планирования при подготовке пациента</td>
                        <td>700 000</td>
                        <td>1</td>
                        <td>700 000</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th class="bg-blue">Итого:</th>
                        <th class="bg-blue"></th>
                        <th class="bg-blue"></th>
                        <th class="bg-blue">8 900 000</th>
                    </tr>
                    </thead>
                </table>
                <p>
                    Стоимость оборудования определена предварительно. В настоящий момент ведутся
                    переговоры об общей стоимости с учетом страховки, обслуживания и т.д. В текущей
                    версии бюджета, согласно оценкам экспертов поставщика оборудования, заложены
                    расходы на обслуживание - 8% от стоимости оборудования ежегодно.
                </p>

                <h2 class="text-center">Финансовый план</h2>
                <h3 class="text-center">Первоначальное финансирование проекта</h3>
                <table class="table table-bordered-green">
                    <thead>
                    <tr>
                        <th class="bg-green">Основное и вспомогательное оборудование:</th>
                        <th class="bg-green">Цена (долл. США)</th>
                        <th class="bg-green">Дата/период расходов после финансирования</th>
                        <th class="bg-green">Общ. ст-ть (долл. США)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <ul class="table_list">
                                <li>Varian TrueBeam Stx</li>
                                <li>Периферийное оборудование</li>
                                <li>Система охлаждения для ускорителя</li>
                                <li>Стабилизатор напряжения</li>
                            </ul>
                        </td>
                        <td>3 650 000</td>
                        <td>2</td>
                        <td>7 300 000</td>
                    </tr>
                    <tr>
                        <td>Комплект дозиметрического оборудования</td>
                        <td>300 000</td>
                        <td>2</td>
                        <td>600 000</td>
                    </tr>
                    <tr>
                        <td>Фиксирующие устройства для иммобилизации пациента</td>
                        <td>50 000</td>
                        <td>6</td>
                        <td>300 000</td>
                    </tr>
                    <tr>
                        <td>Компьютерный томограф для планирования при подготовке пациента</td>
                        <td>700 000</td>
                        <td>1</td>
                        <td>700 000</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th class="bg-green">Итого:</th>
                        <th class="bg-green"></th>
                        <th class="bg-green"></th>
                        <th class="bg-green">8 900 000</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="bottom-wrap">
        <div class="container">
            <div class="row text-center">
                <div class="comment col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <p>Мы приглашаем 20 социально-ответственных предпринимателей сделать пожертвования
                        по 100 000 долларов США и стать Отцами-основателями ЦЛТ «YMYT»</p>
                    <span>Возможность привлечения кредита на сумму 8 млн. долларов США зависит от сбора
                        пожертвований на сумму 2 млн. долларов США.</span>
                </div>
                <div class="text-left col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <p class="comment-p">
                        <strong>Бабур Тольбаев</strong><br>
                        Председатель Совета Директоров ОсОО «Центр Лучевой Терапии»<br>
                        <span class="email-p">btolbaev@mbfplanet.com</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
