{% extends '@App/Main/header.html.twig' %}

{% block title %}Центр лучевой терапии - Новости{% endblock %}

{% block content %}
    <div class="container">
        <div class="news_one_box">
            <h2>{{ one_news.title }}</h2>
            <i class="date_news">Дата: {{ one_news.date | date('d.m.Y') }}</i>

            {% if one_news.newsImage != null %}
                <img class="img_one_news" src="{{ vich_uploader_asset(one_news, 'imageFile')| imagine_filter ('one_news') }}"
                     alt="{{ one_news.newsImage }}">
            {% endif %}
            <div class="content_news_one">{{ one_news.content | raw }}</div>
        </div>
    </div>
{% endblock content %}