{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-lg-4 col-md-4 col-sm-8 sign_form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <h2 class="text-center">Авторизация на сайте</h2>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"
                           required="required"/>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control" required="required"/>
                    <br>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                    <input type="submit" id="_submit" class="btn btn-primary btn-lg btn-block" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>

                    <h6>
                        <a href="{{ path('app_main_index') }}" class="text-muted">Главная</a>
                    </h6>
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
